<section class="header">
  <div>
    <%= image_tag "logo.png", class: "logo" %>
  </div>
  <div class="menu">
    <ul class="list">
      <li>
        <%= link_to("Início", root_path, class: 'item') %>
      </li>
      <li>
        <%= link_to("Planos", root_path, class: 'item') %>
      </li>
      <li>
        <%= link_to("Contatos", root_path, class: 'item') %>
      </li>
      <li>
        <% if current_user.present? %>
          <%= current_user.email %> (<%= link_to('Sair', destroy_user_session_path, method: :destroy) %>)
        <% else %>
          <%= link_to("Login", new_user_session_path, class: 'item') %>
        <% end %>
      </li>
    </ul>
  </div>
</section>
<section>
  <div id="slideImages" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slideImages" data-slide-to="0" class="active"></li>
      <li data-target="#slideImages" data-slide-to="1"></li>
      <li data-target="#slideImages" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "firstslide.avif", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "secondslide.avif", class: "d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "thirdslide.avif", class: "d-block w-100" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#slideImages" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slideImages" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<footer class="footer">
  <p> Desde 2023 - Todos os direitos reservados</p>
  <p>Entre em contato pelo e-mail: memoryhospital@outlook.com</p>
  <nav class="menu">
    <ul class="footer list d-block">
      <li><a href="#">Termos de uso</a></li>
      <li><a href="#">Política de privacidade</a></li>
      <li><a href="#">Sobre nós</a></li>
    </ul>
  </nav>
</footer>
